[general]
noOfDaysPerWeek = 5;
noOfHoursPerDay = 10;
schoolName = 'HTL Leonding';
delimiter = ';';

[output]
outputData = [teachers, classes, 3bhitm];
outputFormat = [excel, csv, multiple];
outputPath = output/;

[constraints]
constraints = [TeacherConstraint, DoubleHourConstraint, NoMoreThanThreeInRowConstraint];

[input]
subjects = input/subjects.csv;
weeklySubjects = input/weeklySubjects.csv;
classes = input/classes.csv;
teachers = input/teachers.csv;