[general]
noOfDaysPerWeek = 5
noOfHoursPerDay = 10
schoolName = HTL Leonding
delimiter = ;

[output]
outputData = [CLASSES, TEACHERS, ROOMS]
outputFormat = [CSV_MULTIPLE]
outputPath = output/

[constraints]
constraints = [TeacherConstraint, DoubleHourConstraint, NoMoreThanTwoInRowConstraint, RoomConstraint, BalanceConstraint]
customConstraints = constraints.config

[input]
subjects = subjects.csv
weeklySubjects = weeklySubjects.csv
classes = classes.csv
teachers = teachers.csv
rooms = rooms.csv
