[general]
noOfDaysPerWeek = 5
noOfHoursPerDay = 10
schoolName = HTL Leonding
delimiter = ;

[output]
outputData = [CLASSES, TEACHERS, ROOMS]
outputFormat = [EXCEL, CSV, CSV_MULTIPLE]
outputPath = output/

[constraints]
constraints = [TeacherConstraint, DoubleHourConstraint, NoMoreThanThreeInRowConstraint, RoomConstraint]

[input]
subjects = subjects.csv
weeklySubjects = weeklySubjects.csv
classes = classes.csv
teachers = teachers.csv
rooms = rooms.csv