<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="App" type="Application" factoryName="Application">
    <option name="MAIN_CLASS_NAME" value="at.htl.timetableGenerator.App" />
    <module name="TimetableGenerator" />
    <option name="PROGRAM_PARAMETERS" value="-c input/school.config" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>